<?xml version="1.0" encoding="utf-8"?>
<configuration>
<connectionStrings><add name="CinemaManagementEntities" connectionString="metadata=res://*/Models.CinemaManagementModel1.csdl|res://*/Models.CinemaManagementModel1.ssdl|res://*/Models.CinemaManagementModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VANTRI\MSSQLSERVER_00;initial catalog=CinemaManagement;integrated security=True;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>